<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo Template</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Hello Gophers</h1>
<img src="gopher-dance-long.gif">

<h1>My favorite drink is :</h1>
<div>
    <p>Name : {{.Name}}</p>
    <p>Age : {{.Age}}</p>
    <p>Bottling date : {{.BottlingDate}}</p>
</div>

</body>
</html>